<!-- Footer -->
<footer class="footer border bt-1 border-lighten footer-light bg-white">

    <!-- Footer Line -->
    <div class="footer-line footer-line-lg">
        <div class="container">
            <!-- Row -->
            <div class="row d-flex align-items-center text-center">

                <!-- Column -->
                <div class="col-12 col-lg-4">
                    <!-- Navigation -->
                    <div class="footer-nav flex-row">
                        <a href="index.html#" class="footer-nav-link h-custom pl-0 pr-0">Shop</a>
                        <span class="separator mr-2 ml-2"></span>
                        <a href="index.html#" class="footer-nav-link h-custom pl-0 pr-0">Portfolio</a>
                        <span class="separator mr-2 ml-2"></span>
                        <a href="index.html#" class="footer-nav-link h-custom pl-0 pr-0">Contact</a>
                    </div>
                    <!-- /Navigation -->
                </div>
                <!-- /Column -->


                <!-- Column -->
                <div class="col-12 col-lg-4 text-right">
                    <!-- Copyright -->
                    Copyright &copy; 2016-2019
                    <!-- /Copyright -->
                </div>
                <!-- /Column -->

            </div>
            <!-- /Row -->
        </div>
    </div>
    <!-- /Footer Line -->

</footer>
<!-- /Footer -->
