<nav class="navbar navbar-2 navbar-fixed navbar-expand-lg navbar-top-transparent navbar-top-dark navbar-light">
    <div class="navbar-wrapper affix">

        <!-- Navigation Line -->
        <div class="navbar-line bg-white">
            <div class="container">

                <!-- Brand -->
                <a class="navbar-brand" href="/" alt="NuHorizon">
                  <img src="/images/logo.png" alt="NuHorizon Logo" title="NuHorizon" class="img-fluid navbar-brand__img">
                </a>
                <!-- /Brand -->

                <!-- Toggler -->
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- /Toggler -->

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">

                        <!-- Navigation Item -->
                        <li class="nav-item">
                            <a class="nav-link smooth-scroll" href="#about">About</a>
                        </li>
                        <!-- /Navigation Item -->

                        <!-- Navigation Item -->
                        <li class="nav-item">
                            <a class="nav-link smooth-scroll" href="#menus">Menus</a>
                        </li>
                        <!-- /Navigation Item -->

                        <!-- Navigation Item -->
                        <li class="nav-item">
                            <a class="nav-link smooth-scroll" href="index.html#testimonials">Photos</a>
                        </li>
                        <!-- /Navigation Item -->

                        <!-- Navigation Item -->
                        <li class="nav-item">
                            <a class="btn btn-lg btn-outline-purple btn--reservations" href="/reservations">Reservations</a>
                        </li>
                    </ul>
                </div>
                <!-- /Collapse -->

            </div>
        </div>
        <!-- /Navigation Line -->

    </div>
</nav>
<!-- /Navigation -->
