<nav class="navbar navbar-2 navbar-fixed navbar-expand-lg navbar-top-transparent navbar-top-dark navbar-light">
    <div class="navbar-wrapper affix">

        <!-- Navigation Line -->
        <div class="navbar-line bg-white">
            <div class="container">

                <!-- Brand -->
                <a class="navbar-brand" href="http://vtdes.ru/demo/clarity/1.1.1/index.html">NuHorizon</a>
                <!-- /Brand -->

                <!-- Toggler -->
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- /Toggler -->

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">

                        <!-- Navigation Item -->
                        <li class="nav-item">
                            <a class="nav-link smooth-scroll" href="index.html#home">Home</a>
                        </li>
                        <!-- /Navigation Item -->

                        <!-- Navigation Item -->
                        <li class="nav-item">
                            <a class="nav-link smooth-scroll" href="index.html#about">About</a>
                        </li>
                        <!-- /Navigation Item -->

                        <!-- Navigation Item -->
                        <li class="nav-item">
                            <a class="nav-link smooth-scroll" href="index.html#projects">Projects</a>
                        </li>
                        <!-- /Navigation Item -->

                        <!-- Navigation Item -->
                        <li class="nav-item">
                            <a class="nav-link smooth-scroll" href="index.html#testimonials">Testimonials</a>
                        </li>
                        <!-- /Navigation Item -->

                        <!-- Navigation Item -->
                        <li class="nav-item">
                            <a class="nav-link smooth-scroll" href="index.html#contact">Contact</a>
                        </li>
                        <!-- /Navigation Item -->

                        <li class="nav-item d-flex align-items-center">
                            <a href="https://1.envato.market/rWBad" target="_blank" class="nav-btn btn btn-circle btn-light">
                                <i class="icon fa fa-shopping-cart"></i>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- /Collapse -->

            </div>
        </div>
        <!-- /Navigation Line -->

    </div>
</nav>
<!-- /Navigation -->
