<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Page title -->
    <title>Clarity - Responsive Clean and Minimal Bootstrap 4 HTML Template</title>
    <!-- /Page title -->

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- /Meta -->

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.png">
    <!-- /Favicon -->

    <!-- Styles -->
    <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/components/elegant-icons/style.css">
    <link rel="stylesheet" href="/components/et-line-icons/style.css">
    <link rel="stylesheet" href="/components/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/components/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/components/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/components/prism/prism.css">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <!-- /Styles -->
</head>
<body class="has-navbar-fixed p-0">
    {{{body}}}
</body>
</html>
